# Terraform files
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfvars

# Generated SSH keys for cluster
cluster_ssh_key
cluster_ssh_key.pub

# Generated hostfiles
hostfile
imex_nodes.txt

# Ansible files
ansible/inventory/inventory.yml

# The output of the tests
nccltest_output.txt
