# Managed by Ansible - {{ inventory_hostname }}
[Unit]
Description=VPN Client path(s) to the VPN gateway(s)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
Restart=on-failure
RestartSec=5
ExecStart=/usr/local/sbin/vpn-client.sh up
ExecStop=/usr/local/sbin/vpn-client.sh down

[Install]
WantedBy=multi-user.target
