[defaults]
inventory = ../inventory/hosts.ini
forks = 40
host_key_checking = False
timeout = 30
callback_result_format = yaml
deprecation_warnings = False
retry_files_enabled = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=300s -o ServerAliveInterval=30 -o LogLevel=ERROR
