# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars

# Secrets
.env
*.pem
*.key

# OS
.DS_Store

env
prometheus/prometheus.yml
grafana/provisioning/datasources/prometheus.yml
