# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
terraform/imports.tf
terraform-amd/.terraform/
terraform-amd/.terraform.lock.hcl
terraform-amd/terraform.tfstate
terraform-amd/terraform.tfstate.backup
terraform-amd/terraform.tfvars
terraform-amd/imports.tf

# Secrets
.env
*.pem
*.key

# OS
.DS_Store
.claude/

env
prometheus/prometheus.yml
grafana/provisioning/datasources/prometheus.yml
