# Terraform files
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup

# Generated SSH keys for cluster
cluster_ssh_key
cluster_ssh_key.pub

# Generated hostfiles
hostfile
imex_nodes.txt

# The output of the tests
nccltest_output.txt
